*.data* filter=lfs diff=lfs merge=lfs -text
*.ckpt* filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
tf_model/model.ckpt-370000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
ovino_model/model.ckpt-370000.bin filter=lfs diff=lfs merge=lfs -text
