absl-py==0.8.1
asn1crypto==0.24.0
astor==0.8.0
attrs==19.3.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==3.1.0
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.3
decorator==4.4.1
defusedxml==0.6.0
entrypoints==0.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.3.2
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
idna==2.6
importlib-metadata==0.23
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.8.0
ipython-genutils==0.2.0
Jinja2==2.10.3
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==0.33.12
jupyterlab-launcher==0.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
MarkupSafe==1.1.1
mercurial==4.5.3
mistune==0.8.4
mock==3.0.5
more-itertools==5.0.0
nbconvert==5.6.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.5
olefile==0.45.1
pandocfilters==1.4.2
pathlib2==2.3.5
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.1.0
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.10.0
ptyprocess==0.6.0
pycrypto==2.6.1
pyflakes==1.6.0
Pygments==2.4.2
pygobject==3.26.1
pyrsistent==0.15.5
python-dateutil==2.8.1
pyxdg==0.25
pyzmq==18.1.0
scandir==1.10.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.13.0
subprocess32==3.5.4
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-hub==0.7.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
